*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
composeApp/google-services.json
/.idea
/.kotlin
.idea/appInsightsSettings.xml
bad-words.txt
/..bfg-report
bfg.jar
bad-words.txt
.idea/artifacts/composeApp_jvm.xml
.idea/misc.xml
bad-words.txt
